/* 초기 로고 스타일 (기본값) */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  margin: 60px auto; /* 가운데 정렬, 좌우 여백 자동 조절 */
  border: 1px solid #7f0fff;
  border-radius: 50px;
  padding: 20px;
  position: relative;
  width: 40%; /* 초기 너비 40% */
}

/* 화면 너비가 768px 이하인 경우 너비 조정 */
@media (max-width: 768px) {
  .login-form {
    width: 60%; /* 화면 너비의 45%로 조절 */
  }
}

/* 화면 너비가 480px 이하인 경우 더 작은 너비로 조정 */
@media (max-width: 480px) {
  .login-form {
    width: 70%; /* 화면 너비의 40%로 조절 */
  }
}

.login-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.login-input-container {
  margin-bottom: 15px;
}

.login-id-label {
  font-size: 14px;
  margin-bottom: 5px;
}

.login-input-box {
  width: 100%;
  padding: 8px;
  border: 1px solid #000; /* 변경된 부분: 검은색 테두리로 수정 */
  border-radius: 5px;
}

.login-id-submit {
  padding: 10px 20px;
  background-color: #7f0fff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* 초기 로고 스타일 (기본값) */
.social-login .kakao-logo,
.social-login .naver-logo,
.social-login .google-logo {
  width: 100px;
  height: 100px;
}

/* 화면 너비가 768px 이하인 경우 로고 크기 조정 */
@media (max-width: 768px) {
  .social-login .kakao-logo,
  .social-login .naver-logo,
  .social-login .google-logo {
    width: 50px;
    height: 50px;
  }
}

/* 화면 너비가 480px 이하인 경우 더 작은 크기로 조정 */
@media (max-width: 480px) {
  .social-login .kakao-logo,
  .social-login .naver-logo,
  .social-login .google-logo {
    width: 30px;
    height: 30px;
  }
}

/* 각 a 태그 스타일 */
.social-login button {
  margin-right: 20px;
  padding: 10px;
}

.social-container {
  display: flex;
}
