.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.login-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.login-input-container {
  margin-bottom: 15px;
}

.login-id-label {
  font-size: 14px;
  margin-bottom: 5px;
}

.login-input-box {
  width: 100%;
  padding: 8px;
  border: 1px solid #000; /* 변경된 부분: 검은색 테두리로 수정 */
  border-radius: 5px;
}

.login-id-submit {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
