.h2 {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

.myPageForm {
  padding-bottom: 100px;
}

.container {
  padding: 20px;
  border: 2px solid purple;
  border-radius: 15px;
  margin: 20px;
}

/* review */
.nameBox {
  width: 100px;
  height: 24px;
  border-radius: 15px;
  background-color: #efe0ff;
  text-align: center; /* 가운데 정렬 */
  font-weight: bold; /* 글자 굵게 설정 */
  margin-bottom: 20px;
}

.reviewContainer {
  display: flex;
  flex-direction: column; /* 각 리뷰를 세로로 나열합니다. */
  gap: 20px;
}

.reviewItem {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}
.reviewTitle {
  font-size: 16px;
  margin-bottom: 10px;
}

.reviewContent {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.reviewDate {
  font-size: 12px;
  color: #777;
}

.reviewLikes {
  font-size: 12px;
  color: #777;
}

.div-container {
  display: flex;
}

/* store */

.nameBox2 {
  width: 140px;
  height: 24px;
  border-radius: 15px;
  background-color: #efe0ff;
  text-align: center; /* 가운데 정렬 */
  font-weight: bold; /* 글자 굵게 설정 */
  margin-bottom: 20px;
  margin-top: 40px;
}

.storeContainer {
  display: flex;
  flex-direction: column; /* 각 가게를 세로로 나열합니다. */
  gap: 20px;
}

.storeItem {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  width: 100%; /* 가로폭을 100%로 설정하여 한 줄에 하나의 가게만 표시합니다. */
  box-sizing: border-box;
}

.storeTitle {
  font-size: 18px;
  margin-bottom: 10px;
}

.review-id-label {
  font-size: 14px;
  margin-bottom: 5px;
}

.storeCategory {
  font-size: 12px;
  margin-bottom: 10px;
}

.storeAddress {
  font-size: 12px;
  margin-bottom: 10px;
}

.storeHomePageLink {
  font-size: 12px;
  margin-bottom: 10px;
}

/* passwordChange */
.nameBox3 {
  width: 140px;
  height: 24px;
  border-radius: 15px;
  background-color: #efe0ff;
  text-align: center; /* 가운데 정렬 */
  font-weight: bold; /* 글자 굵게 설정 */
  margin-bottom: 5px;
  margin-top: 10px;
}

.passwordChangeForm {
  padding: 20px;
  border: 2px solid purple;
  border-radius: 15px;
  margin: 20px;
}

.passwordChange-submit {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #7f0fff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reviewPagingBox {
  text-align: center; /* 텍스트 가운데 정렬 */
  margin-top: 20px; /* 상단 마진 추가 */
  margin-left: 40%; /* 좌우 마진을 auto로 설정하여 가운데 정렬합니다. */
  margin-right: auto;
  margin-bottom: 20px;
  display: flex; /* Flexbox를 사용합니다. */
  justify-content: center; /* 가로 가운데 정렬을 위해 가로 방향으로 가운데 정렬합니다. */
}

.reviewPagenum {
  display: inline-block; /* 인라인 블록 요소로 설정하여 옆으로 배열됩니다. */
  margin-right: 5px; /* 각 페이지 번호 사이의 간격 */
  cursor: pointer; /* 마우스 커서를 포인터로 변경하여 클릭 가능한 링크임을 나타냅니다. */
  font-size: 18px; /* 글자 크기 */
  border: 1px solid purple; /* 1px 실선 보더 설정 */
  padding: 5px 10px; /* 내부 여백 설정 */
  border-radius: 3px; /* 둥근 모서리를 위한 설정 */
}

.reviewPagenum .active {
  border-color: purple; /* 활성 페이지 번호의 보더 색상 변경 */
  background-color: purple; /* 활성 페이지 번호의 배경색 변경 */
  color: white; /* 활성 페이지 번호의 텍스트 색상 변경 */
}
