.review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 45px;
  overflow-y: auto; /* 세로 스크롤을 허용하고 내용이 넘칠 경우 스크롤 표시 */
  max-height: calc(
    100vh - 45px
  ); /* 최대 높이를 화면 높이에서 footer의 높이(45px)를 뺀 값으로 설정 */
}

.review-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.review-input-container {
  margin-bottom: 15px;
  width: 400px;
}

.review-id-label {
  font-size: 14px;
  margin-bottom: 5px;
}

.review-input-box {
  width: 100%;
  padding: 8px;
  border: 1px solid #000; /* 변경된 부분: 검은색 테두리로 수정 */
  border-radius: 5px;
}

.review-input-number-box {
  width: 50%;
  padding: 8px;
  border: 1px solid #000; /* 변경된 부분: 검은색 테두리로 수정 */
  border-radius: 5px;
}

.review-text-box {
  width: 100%;
  padding: 8px;
  border: 1px solid #000; /* 변경된 부분: 검은색 테두리로 수정 */
  border-radius: 5px;
}

.review-id-submit {
  padding: 10px 20px;
  background-color: #7a2dd2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.review-id-delete {
  padding: 10px 20px;
  background-color: #fff;
  color: #7a2dd2;
  border: 1px solid #7a2dd2;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.review-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
