/* Header.module.css */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  padding: 0 20px;
  background-color: #7a2dd2;
  position: fixed;
  bottom: 0; /* 페이지 하단에 고정 */
  left: 0; /* 왼쪽 정렬 */
  right: 0; /* 오른쪽 정렬 */
  width: 100%;
  z-index: 999; /* 다른 요소 위에 레이어를 만들기 위한 값. 필요에 따라 조절할 수 있습니다. */
}

.companyInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 0 20px;
  background-color: #7a2dd2;
  color: white;
}

/* 중앙 정렬 및 스타일 수정 */
.footerNavItem {
  display: flex;
  align-items: center;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.buttonWrapper button {
  background-color: #7a2dd2;
  color: white; /* 버튼 텍스트 색상 설정 */
  border: none;
  padding: 10px 20px; /* 버튼 여백 조절 */
  cursor: pointer;
}
