/* Header.module.css */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 20px;
  background-color: #7a2dd2;
}

.logo {
  display: flex;
  align-items: center;
}

.logoImage {
  width: 100px;
  height: auto;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center; /* Align items vertically in the center */
}

.navItem {
  margin-right: 20px;
  color: white;
}

/* Add this style to align profile image and logout button in a row */
.navItem img,
.navItem button {
  vertical-align: middle;
}
.navItem img {
  height: 40px; /* Set the height to a value smaller than .header height */
}
